<div class="card mx-auto" style="width: 18rem;">
  <img src="https://source.unsplash.com/1600x900/?cocktail" class="card-img-top" alt="cocktail-img">
  <div class="card-body">
    <h5 class="card-title">Edit this cocktail</h5>
    <p><small> Press update to change ingredients </small></p>
    <p class="card-text"><%= render 'form', cocktails: @cocktails%></p>
  </div>
</div>
