.btn {
  text-decoration: none;
  padding: 10px;
  border: solid 1px #484848;
  border-radius: 5px;
  background-color: white;
  color: #2c3e4e;
}

.btn:hover {
  text-decoration: none;
  padding: 10px;
  border: solid 1px #484848;
  border-radius: 5px;
  background-color: white;
  color: black;
}
