 .image-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.img{
  height: 600px;
}

.tbl{
  text-align: center;
  justify-content: space-around;
  th, td {
  border-bottom: 1px solid #ddd;
  padding:0 30px 0 30px;
}
}

.btn-show{
  color: #3a3a3a;
  text-decoration: none;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #3a3a3a;
}
.btn-show:hover{
  border: solid 1px black;
}

#edit-icons {
  text-color: #3a3a3a;
  display:contents;
  color:#3a3a3a;
  margin:7px;
  opacity:0.5;
}

#edit-icons:hover {
  text-color: black;
  display:contents;
  color: black;
  margin:7px;
  opacity:1;
}
