// SHOW
.container {
  width: 50px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img{
  height: 600px;
}

.tbl{
  text-align: center;
  justify-content: space-around;
  th, td {
  border-bottom: 1px solid #ddd;
}
}

.btn-show{
  color: #3a3a3a;
  text-decoration: none;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #3a3a3a;
}
.btn-show:hover{
  border: solid 1px black;
}
